bin/
target/
build/
.bloop/
.bsp/
.metals
.cache
.cache-main
.classpath
.history
.project
.scala_dependencies
.settings
.worksheet
.DS_Store
*.class
*.tasty
*.log
*.iml
*.ipr
*.iws
.idea
meta.json
/project/project/
/project/metals.sbt
/project/plugins.sbt
/.vscode/settings.json
/.vscode/launch.json
/camunda-db.mv.db
